<div class=" container text-center">
    <br>
    <div class="row user-details">
        <div class="col-12 ">
            <img src="{{img}} " class="rounded-circle img-thumbnail" style="width:10%" alt="profile ">
            <h5> {{Email}}</h5>
        </div>
    </div>
    <div class="card">
        <h1>Cleaning schedule <i class="far fa-clipboard animated infinite heartBeat delay-2s"></i> </h1>

        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">Client Id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile number</th>
                    <th scope="col">Instructions</th>
                    <th class="text-center" scope="col">Edit</th>
                </tr>
            </thead>

            <tbody class="text-center " *ngFor="let profile of clients">

                <tr *ngIf="profile.userUid == userUid">
                    <th scope="row">{{profile.id}}</th>
                    <td>{{profile.FirstName}}</td>
                    <td>{{profile.Address}}</td>
                    <td>{{profile.Date}}</td>
                    <td>{{profile.time}}</td>
                    <td>{{profile.email}}</td>
                    <td>{{profile.mobileNumber}}</td>
                    <td>{{profile.Instructions}}</td>
                    <td class="text-center action-block">

                        <i class="far fa-edit" routerLink="/update-schedule/{{profile.id}}"></i>
                        <i class="far fa-trash-alt" (click)="onDeleteclient(profile.id)"></i></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div></div>