<mat-sidenav-container class="sidenav-container fixed-bottom mat-elevation-z20">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin-list" *ngIf="isAdmin == true; else noAdmin" class="text-white register">Admin</a>
            <a mat-list-item routerLink="/schedule-cleaning" class="text-white register">Create task</a>
            <a mat-list-item routerLink="/profile" class="text-white register">Profile</a>
            <a mat-list-item routerLink="/my-schedule" class="text-white register">My Orders</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-elevation-z8">
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span> <img class="user-image  " src="/assets/Netto.png"> Netto</span>

            <span class="example-fill-remaining-space"></span>

            <a class="a" routerLink="/login" *ngIf="!isLogin">
                <span class="text-white"> Login</span>
            </a>
            <span class="example-fill-remaining-space1"></span>


            <a class="b" routerLink="/register" *ngIf="!isLogin">


                <span class="text-white register"> Register</span>
            </a>




            <a class="nav-item register " style="cursor: pointer;" *ngIf="isLogin">
                <a class="text-white" (click)="logout()">Logout</a>
            </a>

        </mat-toolbar>
        <!-- Add Content Hddddere -->
    </mat-sidenav-content>
</mat-sidenav-container>

<a class="b" routerLink="/schedule-cleaning" *ngIf="isLogin">



    <span class="text-white register"> Schedule</span>
</a>
<a class="b" routerLink="/profile" *ngIf="isLogin">


    <span class="text-white register"> Profile</span>
</a>