<div class="jumbotron mt-3">
    <section id="profile" class="container">
        <div class="row mt-5">
            <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 ">
                        <br>
                        <h1>My schedule <i class="far fa-clipboard "></i></h1>
                    </div>
                </div>
                <div class="row user-details">
                    <div class="col-12">
                        <img src="{{img}} " class="rounded-circle img-thumbnail w-25 " alt="profile ">
                        <h5 *ngIf="providerId != 'password'"> {{Email}}</h5>
                        <p>

                        </p>

                        <hr>


                        <div class="card">
                            <br>
                            <div class="card-title">

                                <h4>Set Cleaning task</h4>

                            </div>
                            <div class="card-body">
                                <span>Hit <u><b>Create</b></u> to set date&time, adress and instructions for cleaning you place,
                                         and hit <u><b>My orders</b></u> to check, update or delete the task</span>
                            </div>
                            <div class="card-footer">
                                <p>
                                    <a href="https://www.facebook.com/Sunny-Hostals-261669591256712/"><i class="fab fa-facebook-f"></i></a>

                                    <a href="https://www.instagram.com/misael_jr76/"><i class="fab fa-instagram" aria-hidden="true"></i>
                                                </a>
                                    <a href="https://twitter.com/Sunnyhostals1"><i class="fab fa-twitter" aria-hidden="true"></i>
                                                </a>
                                </p>
                            </div>

                        </div>

                        <br>
                    </div>
                </div>




            </div>

        </div>
    </section>
</div>