<!-- Top navigation -->
<nav class="navbar  navbar-dark fixed-top bg-dark flex-md-nowrap pt-0 pb-0 shadow">
    <a class="navbar-brand col-sm col-md-0 mr-0" routerLink="">
        <img class="user-image" src="/assets/Netto.png"> Netto
    </a>

    <a class="nav-item" style="padding-right: .90rem" routerLink="/login" *ngIf="!isLogin">
        <span class="text-white">Login</span>
    </a>

    <a class="nav-item " routerLink="/register" *ngIf="!isLogin">
        <span class="text-white">Register</span>
    </a>



    <a class="nav-item" style="cursor: pointer;" *ngIf="isLogin">
        <a class="text-white" (click)="logout()">Logout</a>
    </a>

</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row ">
        <nav style="background-color:black " class="col-md-2 d-md-block sidebar text-white border-2 ">
            <div class="sidebar-sticky border-2 ">
                <ul class="nav flex-column ">


                    <br>

                    <li class="nav-item " *ngIf="isAdmin">
                        <a class="nav-link text-white " routerLink="/admin-list" routerLinkActive="active">
                            <i class="fas fa-tools "></i>Admin panel
                        </a>
                    </li>
                    <br>

                    <div class="dropdown-divider "></div>
                    <li class="nav-item " *ngIf="isLogin ">

                        <a class="nav-link text-white " routerLink="/profile" routerLinkActive="active">
                            <i class="fas fa-home "></i>My Profile
                        </a>
                    </li>
                    <li class="nav-item " *ngIf="isLogin ">

                        <a class="nav-link text-white " routerLink="/my-schedule" routerLinkActive="active">
                            <i class="fas fa-home "></i>MyOrders
                        </a>
                    </li>


                    <li class="nav-item " *ngIf="isLogin ">

                        <a class="nav-link text-white " routerLink="/schedule-cleaning" routerLinkActive="active">
                            <i class="fas fa-home "></i>Create task
                        </a>
                    </li>

                    <li class="nav-item " *ngIf="!isLogin ">
                        <a class="nav-link text-white " routerLink="/login" routerLinkActive="active">
                            <i class="fas fa-home "></i>Residential cleaning
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white " routerLink="/login" routerLinkActive="active">
                            <i class="fas fa-building "></i>Comercial cleanning
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white " routerLink="/login" routerLinkActive="active">
                            <i class="fas fa-paint-roller"></i> Painting
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white " routerLink="/login" routerLinkActive="active">
                            <i class="fas fa-snowplow"></i> Snow removal
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white " routerLink="/login" routerLinkActive="active">
                            <i class="fab fa-pagelines"></i> Garden
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>