<!-- Main content -->
<div class="container float-right "><br><br><br><br><br>
    <div class="card center-align">

        <div class="card-title text-center">
            <br>
            <h1> Schedule your cleaning services</h1>
        </div>
        <div class="card-body">

            <!-- Use router template to show the components for which router service is activated -->


            <img class="img-responsive float-center" style="width:100%" src="/assets/limpiezaa.jpg">

            <!-- Footer -->
            <div class="card-footer  text-center">


                <p>This company provides cleaning services by using
                    <a href="https://Aqui va el app/" title="Learn Free Full Stack Software Development">
           Netto App<br>
          </a> a cleaning services App available in the
                    <a href="" title="Learn Free Full Stack Software Development">
           APP STORE
          </a><br></p>
                <a href="https://www.facebook.com/Sunny-Hostals-261669591256712/"><i class="fab fa-facebook-f"></i></a>

                <a href="https://www.instagram.com/misael_jr76/"><i class="fab fa-instagram" aria-hidden="true"></i>
                      </a>
                <a href="https://twitter.com/Sunnyhostals1"><i class="fab fa-twitter" aria-hidden="true"></i>
                      </a>
            </div>
        </div>
    </div>