<div class="container ">

    <div class="card center-align mat-elevation-z8">
        <br>
        <div class="card-title text-center mat-display-1">

            <h1> Schedule your cleaning services</h1>

        </div>
        <div class="card-body">

            <img class="img-responsive float-center" style="width:100%" src="/assets/limpiezaa.jpg">

            <div class="card-footer  text-center mat-elevation-z8">
                <p>This company provides cleaning services by using
                    <a href="https://Aqui va el app/" title="Learn Free Full Stack Software Development">
           Netto App<br>
          </a> a cleaning services App available in the
                    <a href="" title="Learn Free Full Stack Software Development">
           APP STORE
          </a><br></p>
                <div @slide>
                    <a href="https://www.facebook.com/Sunny-Hostals-261669591256712/"><i class="fab fa-facebook-f mat-elevation-z8"></i></a>

                    <a href="https://www.instagram.com/misael_jr76/"><i class="fab fa-instagram mat-elevation-z8" aria-hidden="true"></i>
                      </a>
                    <a href="https://twitter.com/Sunnyhostals1"><i class="fab fa-twitter mat-elevation-z8" aria-hidden="true"></i>
                      </a></div>
            </div>
        </div>
    </div>