<div class="container-fluid mt-6">
    <div class="col-md-6 mx-auto text-center">
        <div class="card">
            <h1>Oops!</h1>
            <h2>Someone needs to go now!</h2>
            <div class="card-body">
                <img src="assets/404.gif" class="preloader-icon" alt="assets/preloader.gif">
            </div>
            <div class="card-footer">
                <a routerLink="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> Back home</a>
            </div>
        </div>
    </div>
</div>